.container
{
    background-color: white;
}

button
{
    position: relative;
    top: -275px;
    float: right;
    border: black 3px solid;
    border-radius: 40px;
    background-color: rgba(57, 57, 58, 0.78);
    opacity: 70%;
    margin: 20px;
    height: 100px;
    width: 250px;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    font-size: xx-large;
}
#card2
{
   width: 300px;
}

.all
{
    font-size: 30px;
    position: relative;
    left: 20px;
    top: -250px;
    max-width: 1400px;
}
#block
{

}

